* {
  box-sizing: border-box;
}

/*palette
btn: #da7e25
btn shadow: #834c16
navbar brown: #29180b
main topleft: #764318
main midtone: #150e05

*/
/*nav bar*/
span span {
  font-family: fantasy;
  font-weight: bolder;
}
nav {
  background-color: #29180b;
}

#brand_small_text {
  color: red;
  font-size: 12px
}
#brand_large_text {
  color: blue;
  font-size: 18px
}

/*main layout*/
body {
  background: url("/img/bg.jpg");
}

div {
  border: 1px dashed red;
}
.container {
  max-width: 60em;
}
div div div {
  background-color: #daf;
  margin-left: 1vw;
}
